@import '@fontsource/roboto-mono/100.css';
@import '@fontsource/roboto-mono/200.css';
@import '@fontsource/roboto-mono/300.css';
@import '@fontsource/roboto-mono/400.css';
@import '@fontsource/roboto-mono/500.css';
@import '@fontsource/roboto-mono/600.css';
@import '@fontsource/roboto-mono/700.css';

:root {
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(255, 255, 255, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	color: var(--color-text);
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 400;
}


body {
	min-height: 100vh;
	margin: 0;
	background: linear-gradient(180deg, #040D12 0%, #183D3D 100%);
}

label {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
